cmd/ponzu/vendor/* linguist-vendored=false
system/admin/static/dashboard/js/* linguist-vendored
system/admin/static/dashboard/css/* linguist-vendored
system/admin/static/dashboard/fonts/* linguist-vendored
system/admin/static/dashboard/css/admin.css linguist-vendored=false
system/admin/static/editor/js/* linguist-vendored
system/admin/static/editor/sass/* linguist-vendored
system/admin/static/editor/css/* linguist-vendored
system/admin/static/editor/font/* linguist-vendored
system/admin/static/common/js/* linguist-vendored
system/admin/static/common/js/util.js linguist-vendored=false