cmd/ponzu/vendor/* linguist-vendored=false
public/static/dashboard/js/* linguist-vendored
public/static/dashboard/css/* linguist-vendored
public/static/dashboard/fonts/* linguist-vendored
public/static/dashboard/css/admin.css linguist-vendored=false
public/static/editor/js/* linguist-vendored
public/static/editor/sass/* linguist-vendored
public/static/editor/css/* linguist-vendored
public/static/editor/font/* linguist-vendored
public/static/common/js/* linguist-vendored
public/static/common/js/util.js linguist-vendored=false