View: reference.SelectRepeater("[[ .Name ]]", [[ .Initial ]], map[string]string{
        "label": "[[ .Name ]]",
    }, 
    "[[ .ReferenceName ]]", 
    `[[ range .ReferenceJSONTags ]]{{ .[[ . ]] }} [[ else ]][[ .ReferenceName ]]: {{ .id }}[[ end ]]`,
),
