View: []byte(`
            <div class="input-field col s12">
                <label class="active">{{ .Name }}</label>
                <!-- Add your custom editor field view here. -->
            </div>
            `),