<div class="error-page e500 col s6">
    <div class="card">
        <div class="card-content">
            <div class="card-title"><b>500</b> Error: Internal Service Error</div>
            <blockquote>Sorry, something unexpectedly went wrong.</blockquote>
        </div>
    </div>
</div>